* {
    margin: 0;
    padding: 0;
}

header {
    position: sticky;
    top: 0;
    width: max(600px, 100vw);
}

nav {
    background-color: brown;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px;
    gap: 23px;
    width: 100vw;
}

nav ul li a {
    color: white;
    text-decoration-line: none;
}

.home h1 {
    margin: 20px auto;
    text-align: center;
    font-size: 32px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 20px;
    outline: 1px solid black;
    outline-offset: 3px;
    padding: 10px;
    width: 65vw;
}

.home p {
    font-size: 20px;
    padding: 20px;
}

.home .container {
    padding: 40px;
}

.home .container .images {
    display: grid;
    place-items: center;
}

.home .images img {
    width: 500px;
    height: 350px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    padding: 5px;
}

.home .container .lastimg {
    display: grid;
    place-items: center;

}

.home .container .lastimg img {
    width: max(600px, 60vw);
}

.home .container .lastimg p {
    text-align: center;
    width: 65vw;
}

.individuals td {
    border: 1px solid black;
    padding: 30px;
}

.individuals table {
    border-collapse: collapse;
    margin: auto;
    width: 70vw;
}

.individuals h1 {
    text-align: center;
}

.individuals .image {
    display: grid;
    place-items: center;
}

.individuals div img {
    width: 500px;
    height: 300px;
    object-fit: cover;
}

.individuals table a {
    color: rgb(58, 4, 139);
    text-decoration-line: none;
    border: 1px solid rgb(227, 223, 223);
    padding: 6px;
    border-radius: 20px;
    background-color: rgba(203, 215, 255, 0.818);
}

.coaches table {
    border-collapse: collapse;
    margin: auto;
    width: 70vw;
}

.coaches td {
    border: 1px solid black;
    padding: 20px;
}

.coaches h1 {
    text-align: center;
}

.coaches .image {
    display: grid;
    place-items: center;
}

.coaches div img {
    width: 500px;
    height: 300px;
    object-fit: cover;
}

.coaches table a {
    color: rgb(58, 4, 139);
    text-decoration-line: none;
    border: 1px solid rgb(227, 223, 223);
    padding: 6px;
    border-radius: 20px;
    background-color: rgba(203, 215, 255, 0.818);
}

.fixtures .box1 {
    margin: 20px 20vw;
    text-align: center;
}

.fixtures .box1 h1 {
    font-size: 32px;
    border: 1px solid black;
    outline: 1px solid black;
    outline-offset: 3px;
    width: 60vw;
    border-radius: 20px;
    padding: 6px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.fixtures .box1 a img {
    width: 60vw;
    border-radius: 10px;
}

.highlights h1 {
    text-align: center;
    padding: 20px;
}

.highlights iframe {
    width: 60vw;
    margin: 10px 20vw;
}

.highlights h2 {
    text-align: center;
    width: 60vw;
    margin: 0 20vw;
}
footer{
    width: 100vw;
    position: absolute;
}

footer .footer-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .footer-item a img {
    width: 30px;
    height: 30px;

}

footer .footer-item a {
    font-size: 20px;
    color: black;
    text-decoration-line: none;
    display: flex;
    align-items: center;
    margin: 10px;
}

@media screen and (min-width:1250px) {
    .individuals .image {
        display: flex;
        justify-content: center;

    }

    .coaches .image {
        display: flex;
        justify-content: center;

    }
}

@media only screen and (min-width:1100px) {
    .home .container .images {
        display: flex;
        justify-content: center;
        margin: auto;
    }
}