h1{
    text-align:left ;
    text-decoration: underline;
    font-size: 90px;
}

#display{
    width: 91%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    background-color: grey;
}

.container{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(12, 12, 12, 0.79);
    border-radius:15px;
    max-width: 500px;
    overflow: hidden;
    border: 10px solid black;

}

#row{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px; 
    text-align: left;
    border: none;
    background-color:rgba(44, 43, 43, 0) ;
    color: antiquewhite;
}

button{
    width: 100px;
    height:100px;
    border-radius: 20px;
    border-color: whitesmoke;
    background-color: black;
    color: aliceblue;
    font-size: 3rem;
    cursor: pointer;
    font-weight: bold;
}

button:hover{
    background-color: rgba(247, 237, 237, 0);
}
button:active{
    background-color: rgb(247, 244, 244);
}

#clear1{
    width: 200%;
    background-color: rgb(240, 62, 62);
}


.sign{
    background-color: rgb(245, 191, 66);
    color: black;
}